<div fxLayout="row">
  <div fxFlex="60" fxFlexOffset="10">
    <md-card style="min-height: 400px">
      <md-card-content>
        <div fxLayout="row">
            <md-select fxFlex="25" placeholder="Select stock" [(ngModel)]="selectedStock">
              <md-option *ngFor="let stock of stockList" [value]="stock.symbol">
                {{stock.companyName}} - {{stock.symbol}}
              </md-option>
            </md-select>
            <button md-raised-button [disabled]="!selectedStock" (click)="AddToList(selectedStock)">Add</button>
        </div>
        <br>
        
        <div fxLayout="row">
          <table id="table" class="table table-hover table-mc-light-blue">
            <thead>
              <tr>
                <th class="thead">Action</th>
                <th class="thead">Company Name</th>
                <th class="thead">symbol</th>
                <th class="thead">Price</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let stock of stockListView">
                <td data-title="Action"> <a (click)="buyStock(stock.symbol)" md-button>Buy</a></td>
                <td data-title="Company Name">{{stock.companyName}}</td>
                <td data-title="symbol">{{stock.symbol}}</td>
                <td data-title="Price">{{stock.value | number: '1.2-2'}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </md-card-content>
      <div class="actions">
        <button [disabled]="stockListView.length === 0" (click)="refresh()" md-raised-button>Refresh</button>
      </div>
    </md-card>
  </div>
</div>
